.redborder, .redborder > div {
    border: 1px solid black;
    
}

.blueborder, .blueborder > div {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.navbar > div{
    flex:auto;
    padding:40px 0;
    text-align: center;
}

.articles {
    flex-wrap: wrap;
}

.articles > div {
    width: 50%;
    box-sizing: border-box;
    padding:200px 0;
    text-align:center;
}

.membership {
    padding:200px 0;
    text-align:center;
}

.latest-posts {
    flex-wrap: wrap;
}

.latest-posts > div{
    width: 25%;
    box-sizing: border-box;
    padding:200px 0;
    text-align:center;
}

.latest-posts div.biggerpost {
    width: 50%;
}

.see-all {
    justify-content: center;
   padding: 50px;
}

.conf{
    padding: 25vh;
    justify-content: center;
}

.community{
    flex-wrap:wrap;
}

.community > div{
    width:50%;
    padding:10vh;
    box-sizing:border-box;
    text-align: center;
}
.community > div:first-child{
    width:100%;
}

.systems{
    padding:15vh;
    justify-content: center;
}

.curated-posts{
    flex-wrap: wrap;
}

.curated-posts > div{
    width:33%;
    box-sizing: border-box;
    padding:15vh;
    text-align: center;
}
.curated-posts > div.biggerpost{
    width:66%;
}
footer{padding:25vh; text-align: center;}

.tier1{background:#999;}
.tier2{background:#aaa;}
.tier3{background:#ccc;}
.tier4{background:#eee;}